extends ../../partials/base/layout.pug

block content
  .container
    p Yo soy el register
    form(action="/register", method="post")
      .form-item
        label Name
        input(type="text", name="name")
      .form-item
        label Last Name
        input(type="text", name="lastName")
      .form-item
        label Email
        input(type="email", name="email")
      .form-item
        label Password
        input(type="password", name="password")
      button(type="submit") Register me
